.App {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: #0D0F49;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.error {
  text-align: center;
  margin: 20px;
}
