.App {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: rgb(13, 15, 73);
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.error {
  text-align: center;
  margin: 20px;
}
